.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 20rem;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-and-text {
  position: relative;
}

.line {
  position: absolute;
  content: '';
  left: -3rem;
  top: 2.5rem;
  width: 3px;
  height: 20rem;
  background-color: #e00037;
}

.text {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.webdots-and-works {
  display: flex;
}

.webdots {
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 8rem;
  font-weight: 400;
}

/* .home-works {
  border-radius: 50%;
  border: 2px solid #e00037;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 4rem;
  color: #e00037;
  text-decoration: none;
  animation: 2s circle infinite;
  font-size: 1.5rem;
}

@keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
} */

.digital-agency h2 {
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -2.5rem;
}

.description p {
  font-size: 2rem;
  margin-top: 2rem;
}

.home-links {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  font-size: 2rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
}

.strategy,
.design,
.development,
.marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #0079c0;
}

.strategy svg,
.design svg,
.development svg,
.marketing svg {
  font-size: 5rem;
}

.strategy p,
.design p,
.development p,
.marketing p {
  color: #fff;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.right .image {
  width: 45rem;
  height: 45rem;
  display: flex;
}

.right .image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1040px) {
  .home-container {
    flex-wrap: wrap;
    padding: 10rem 15rem;
  }

  .text {
    justify-content: center;
    align-items: center;
  }

  .description p {
    text-align: center;
  }

  .right {
    order: 1;
    padding-right: 0;
  }

  .left {
    order: 2;
    margin-top: 3rem;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 10rem;
  }

  .webdots {
    font-size: 7rem;
  }

  .digital-agency h2 {
    font-size: 3.5rem;
    margin-top: -2rem;
  }

  .home-links {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }

  .right .image {
    width: 40rem;
    height: 40rem;
  }
}

@media screen and (max-width: 520px) {
  .line {
    display: none;
  }

  .webdots {
    font-size: 6rem;
  }

  .digital-agency h2 {
    font-size: 3rem;
    margin-top: -1rem;
  }

  .description p {
    font-size: 1.8rem;
  }

  .home-links {
    flex-wrap: wrap;
  }

  .right .image {
    width: 35rem;
    height: 35rem;
  }
}

@media screen and (max-width: 440px) {
  .right .image {
    width: 27.5rem;
    height: 27.5rem;
  }
}
