.contact-box {
  font-size: 2rem;
  color: #808080;
  background: #fff;
  padding: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.got-a-project p:first-child {
  font-size: 2.5rem;
  font-weight: 700;
  color: #e00037;
}

.got-a-project p:last-child {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.call-us p:first-child {
  font-size: 2.2rem;
  font-weight: 700;
  color: #e00037;
  margin-bottom: 0.75rem;
}

.call-us-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-us-phone-icon {
  color: #333;
  font-size: 2.75rem;
  margin-right: 0.5rem;
}

.call-us-phone-text {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 1250px) {
  .contact-box {
    flex-direction: column;
  }

  .got-a-project {
    margin-bottom: 2.5rem;
  }

  .got-a-project p:first-child,
  .got-a-project p:last-child {
    text-align: center;
  }

  .consultation {
    margin-bottom: 2.5rem;
  }

  .call-us p:first-child {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .consultation {
    text-align: center;
  }
}
