.navbar {
  background: #000;
  height: 8rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* border-bottom: 1px solid #0079c0; */
  z-index: 100;
}

.logo-image-container {
  width: 5rem;
  height: 5rem;
  display: flex;
  outline: none;
}

.logo-image-container img {
  width: 100%;
  height: 100%;
}

.right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-menu > div {
  margin-left: 3rem;
}

.open-icon {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-icon {
  color: #e00037;
  font-size: 2.75rem;
  margin-right: 0.5rem;
}

.phone-text {
  font-size: 2rem;
}

@media screen and (max-width: 980px) {
  .phone {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0 2.5rem;
  }
}

/* Hamburger */
/* .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  z-index: 1000;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
} */
