@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

body {
  background-color: #000;
  color: #fff;
}

/* Reusable menu icon */
/* .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 200;
}

.menu-btn-burger {
  width: 4rem;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  position: absolute;
  content: '';
  width: 4rem;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-1.2rem);
}

.menu-btn-burger::after {
  transform: translateY(1.2rem);
}

.menu-btn.open .menu-btn-burger {
  transform: translateX(-5rem);
  background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(3.5rem, 3.5rem);
} */
